.header {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

article {
    text-align: center;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.compcamp {
    text-align: center;
    margin-right: 100px;
}

head {
    text-align: center;
}

.projects {
    text-align: center;
    text-decoration-line: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 50px;
}

.projectvideos {
    text-align: center;
    padding: 20;
    display: flex;
    justify-content: space-between;
}

.buttons {
    text-align: left
}

.socials {
    text-align: right;
    padding-left: 100;
    min-width: 200;
}

script {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

.welcomemessage {
    font-size: larger;
    text-align: center;
    padding-top: 50px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.caption1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.arrow {
    text-align: left height 20px;
}

.aboutmepic {
    text-align: center;
    padding: 20;
}

.aboutheader {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    text-decoration-line: underline;
}

.abouttext {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

a:hover {
    background-color: rgb(226, 43, 43);
}